ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
API_KEY=dev-api-key
PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
RHID_EMAIL=preencha-aqui
RHID_PASSWORD=preencha-aqui

HOST_PORT=4563
SHM_SIZE=2gb
LOGS_PATH=./Logs
